.loading {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-self: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100vw;
  z-index: 1000;
}

.loading__container {
  display: flex;
  justify-content: space-between;
  width: 100px;
}

.loading__container__item {
  width: 20px;
  height: 20px;
  background-color: #f9b03d;
  border-radius: 50%;
}

@keyframes loading {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.loading__container__item:nth-child(1) {
  animation: loading 0.5s 0s infinite;
}

.loading__container__item:nth-child(2) {
  animation: loading 0.5s 0.1s infinite;
}

.loading__container__item:nth-child(3) {
  animation: loading 0.5s 0.2s infinite;
}

.loading__container__item:nth-child(4) {
  animation: loading 0.5s 0.3s infinite;
}

.loading__container__item:nth-child(5) {
  animation: loading 0.5s 0.4s infinite;
}

.loading__container__item:nth-child(6) {
  animation: loading 0.5s 0.5s infinite;
}
