.layoutHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3em;
  background-color: var(--color-bg-tetirary);
  border-bottom: 1px solid #000;
  text-align: center;
  height: 60px;
}

.layoutHeader h1 {
  color: #fff;
  font-size: 1.5em;
}

.headerEslogan {
  color: #fff;
  filter: drop-shadow(1px 1px 1px #333);
}

.layoutContainer {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 61px);
}

.layoutMain {
  display: flex;
  position: relative;
  padding: 1em;
  width: calc(100% - 250px);
  overflow-y: auto;
  overflow-x: auto;
  scrollbar-width: auto;
  scrollbar-color: var(--color-secondary) var(--color-bg-secondary);
  background-color: var(--color-bg-primary);
}
